.showcase
	display flex
	justify-content center
	margin-top 35px
	align-items center
	flex-direction column

	&__heading
		display flex
		align-items center

	&__title
		font-size 43px
		color #525252
		font-family 'MullerNarrow-ExtraBold'

	.ion-ios-bolt-outline
		font-size 70px
		color #26CD8A
		margin-right 10px

	&__tagline
		margin-top 5px
		font-size 18px

	&__line
		margin-top 50px
		width 40px
		border-bottom 2px solid #26CD8A
		height 2px

.tech
	margin-top 60px

	.tech-list
		margin 0
		padding 0
		display inline-block
		list-style-type none

		.tech-item
			color #242424
			font-size 18px
			margin-bottom 26px

			.desc
				margin-top 4px
				color #6B6B6B
				font-size 15px
